<!DOCTYPE html>
<html>
    <head>
        <title> Jovian career </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
    </head>
    <body>
        <h1>Jovian careers</h1>
        <img id = "banner" src="{{ url_for('static', filename='banner.jpeg') }}" alt="Your image">
        <h2>About Jovian</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor lectus metus, quis hendrerit lectus efficitur quis. Etiam quis pellentesque leo. Integer eget odio lacus. Aenean sodales egestas turpis at eleifend. Mauris sit amet felis ligula. Etiam lacus leo, hendrerit ac massa non, auctor commodo mauris. Proin eleifend justo a luctus vulputate. Suspendisse ut augue sodales odio eleifend mollis. Phasellus eget quam iaculis, finibus leo at, venenatis neque. Sed pretium dapibus condimentum. Aenean semper quam et neque suscipit rutrum. Sed est dui, consequat ac placerat et, luctus ut mi.     
        </p>
        <h3> Open positions</h3>
        <p>Job list</p>

        <button>Contract Us</button>
        </body>
</html>    